/*
Theme Name: Cenn Theme
Author: Alexander Aeppli
Author URI: https://wordpress.org/
Description: A simple Bootstrap 4 based onepage theme created to work with SiteOrigins PageBuilder.
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: cenntheme
*/
/*========== Base ==========*/
/* Normalize CSS */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

/* Typography */
body {
  font-family: "Source Sans Pro", sans-serif; }

h1 {
  color: #f09819; }

h2 {
  color: #f09819;
  font-weight: 900; }

p {
  color: #242424; }

a {
  color: #f09819; }

a:hover {
  color: #f09819; }

.black {
  font-weight: 900; }

.light {
  font-weight: 300; }

/*========== Layout ==========*/
/* Navigation */
html {
  background: #f5f5f5; }

body {
  background: none;
  position: relative;
  overflow-x: hidden; }

img {
  max-width: 100%;
  height: auto;
  border-radius: 1rem; }

.container {
  -ms-flex-item-align: center;
      align-self: center;
  width: auto;
  padding: 0 1rem;
  max-width: 920px;
  margin: 0 auto; }

.grid-3 {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem 0; }

.grid-3 {
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr)); }

#form {
  text-align: center; }
  #form select {
    border: solid 1px; }

.justify {
  justify-items: center; }

#footer {
  padding-top: 40px; }

#shameless_plug {
  text-align: right; }

@media (max-width: 400px) {
  .grid-3 {
    grid-template-columns: 1fr; } }
.alignwide {
  margin-left: -92px;
  margin-right: -92px;
  max-width: none; }

.alignfull {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  max-width: none;
  border-radius: 0; }

.alignfull img {
  width: 100vw; }

/* Homepage Nav */
nav {
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  list-style: none;
  width: 100%;
  position: fixed;
  z-index: 10;
  font-size: 1.2rem;
  background-color: #f5f5f5; }
  nav ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    nav ul li a {
      background: none;
      color: #242424;
      display: block;
      text-decoration: none;
      padding: 2.5vh 10px; }
    nav ul li a:hover {
      text-decoration: underline;
      color: #242424; }
    nav ul li .active {
      border-bottom: solid 1px #242424; }

/* Subpage Nav */
.nav-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .nav-sub a {
    text-decoration: none; }

@media (max-width: 1152px) {
  .alignwide {
    margin-left: calc(50% - 50vw + 24px);
    margin-right: calc(50% - 50vw + 24px); } }
@media (max-width: 920px) {
  .alignwide {
    margin-left: 0;
    margin-right: 0; } }
/*========== Pages ==========*/
/* Home */
#start {
  padding-top: 0;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
  text-align: center;
  min-height: 100vh;
  width: 100%;
  margin-bottom: 15px; }

#title {
  font-size: 6vw;
  color: #f5f5f5;
  z-index: 1;
  display: table;
  margin: 0 auto; }

#titletype {
  text-align: center;
  color: #f5f5f5;
  display: table;
  margin: 0 auto; }
  #titletype span {
    font-size: 3vw !important; }

@media (max-width: 767px) {
  #title {
    font-size: 9vw; } }
.portfolio-link {
  text-decoration: none; }
  .portfolio-link img {
    margin-bottom: -1rem;
    /*Compensate for Title Span*/ }
  .portfolio-link .portfolio-img {
    display: block;
    padding-bottom: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
    .portfolio-link .portfolio-img:before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      padding: 50%; }
  .portfolio-link h3 {
    font-size: 1rem;
    line-height: 1rem;
    position: relative;
    font-weight: 500;
    bottom: 2rem;
    color: white;
    text-shadow: 1px 1px 1px #0009;
    padding: 0 0 0 1rem;
    text-decoration: none;
    margin-bottom: -1rem; }

/*========== Components ==========*/
/* Particles.js */
#particles-js {
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(-60deg, #ff5858 0%, #f09819 100%); }

/* Scroll button */
.scroll {
  display: inline;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #242424;
  letter-spacing: .1em;
  text-decoration: none;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  padding-top: 60px; }
  .scroll span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid #fff;
    border-radius: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .scroll span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .scroll span::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb03 3s infinite;
    animation: sdb03 3s infinite;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

/* Button */
button, .btn {
  border-radius: 10px;
  padding: 10px 20px;
  background: #f09819;
  border: 1px solid;
  color: #f5f5f5;
  text-decoration: none; }

.btn:hover {
  color: #f5f5f5; }

#arrow {
  position: relative;
  left: 0;
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
  -webkit-transition-duration: .1s;
          transition-duration: .1s; }

.hover {
  left: -0.3rem !important; }

@-webkit-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    -webkit-box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    -webkit-box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
.hidden {
  display: none; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@media (max-width: 767px) {
  #titletype span {
    font-size: 5vw !important; } }
/* Embed Responsivly */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; }

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
