// Colors
$color-background: #f5f5f5;
$color-particles: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
$color-title: $color-background;
$color-element: #f09819;
$color-text: #242424;

$font-stack: 'Source Sans Pro', sans-serif;

$content-width: 920px;