button, .btn {
  border-radius: 10px;
  padding: 10px 20px;
  background: $color-element;
  border: 1px solid ;
  color: $color-background;
  text-decoration: none;
}
.btn:hover {
  color: $color-background;
}

#arrow {
  position: relative;
  left: 0;
  transition: ease-in-out;
  transition-duration: .1s;
}

.hover {
  left: -0.3rem !important;
}


@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, .1);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes sdb03 {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, .1);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.hidden {
  display: none;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  #titletype span {
    font-size: 5vw !important;
  }
}