.portfolio-link {
  text-decoration: none;

  img {
    margin-bottom: -1rem;
    /*Compensate for Title Span*/
  }

  .portfolio-img {
    display: block;
    padding-bottom: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &:before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      padding: 50%;

    }
  }

  h3 {
    font-size: 1rem;
    line-height: 1rem;
    position: relative;
    font-weight: 500;
    bottom: 2rem;
    color: white;
    text-shadow: 1px 1px 1px #0009;
    padding: 0 0 0 1rem;
    text-decoration: none;
    margin-bottom: -1rem;
  }
}